/* Default: Do not show the block. */
.custom-overlay-block {
  display: none;
}

/* Show the block only after we assigned our show class. */
.custom-overlay-block.custom-overlay-block-show {
  display: block;
  position: absolute;
  z-index: 9999;
}
